extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#saleInfo', aria-expanded='false')
						strong Sale Information
						&#58; ข้อมูลการขายสินค้า
			#saleInfo.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /sale/saleInfo
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') SaleNo
									.col-sm-10
										input.form-control.sale(type='text', placeholder='SaleNo')
										p.help-block
											span.font-pre.label.label-warning sale
											|   SaleNo
								.form-group
									label.col-sm-2.control-label(for='input') Profit
									.col-sm-10
										input.form-control.profit(type='text', placeholder='Profit')
										p.help-block
											span.font-pre.label.label-warning profit
											|   Profit
								.form-group
									label.col-sm-2.control-label(for='input') TotalPrice
									.col-sm-10
										input.form-control.total(type='text', placeholder='TotalPrice')
										p.help-block
											span.font-pre.label.label-warning totalPrice
											|   TotalPrice
								.form-group
									label.col-sm-2.control-label(for='input') PayType
									.col-sm-10
										input.form-control.pay(type='text', placeholder='PayType', value="W")
										p.help-block
											span.font-pre.label.label-warning payType
											|   PayType
								.form-group
									label.col-sm-2.control-label(for='input') Cash
									.col-sm-10
										input.form-control.cash(type='text', placeholder='Cash')
										p.help-block
											span.font-pre.label.label-warning cash
											|   Cash
								.form-group
									label.col-sm-2.control-label(for='input') Credit
									.col-sm-10
										input.form-control.credit(type='text', placeholder='Credit')
										p.help-block
											span.font-pre.label.label-default credit
											|   Credit
								.form-group
									label.col-sm-2.control-label(for='input') Customer
									.col-sm-10
										input.form-control.customer(type='text', placeholder='Customer')
										p.help-block
											span.font-pre.label.label-warning customer
											|   Customer
								.form-group
									label.col-sm-2.control-label(for='input') CustomerSex
									.col-sm-10
										input.form-control.sex(type='text', placeholder='CustomerSex')
										p.help-block
											span.font-pre.label.label-default sex
											|   CustomerSex
								.form-group
									label.col-sm-2.control-label(for='input') CustomerAge
									.col-sm-10
										input.form-control.age(type='text', placeholder='CustomerAge')
										p.help-block
											span.font-pre.label.label-warning age
											|   CustomerAge
								.form-group
									label.col-sm-2.control-label(for='input') SaleDate 
									.col-sm-10
										input.form-control.date(type='text', placeholder='SaleDate')
										p.help-block
											span.font-pre.label.label-warning date
											|   SaleDate
								.form-group
									label.col-sm-2.control-label(for='input') SaleBy
									.col-sm-10
										input.form-control.saleby(type='text', placeholder='SaleBy')
										p.help-block
											span.font-pre.label.label-warning saleby
											|   SaleBy
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
			.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')                                              
				
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#saleAdd', aria-expanded='false')
						strong Sale Add
						&#58; เพิ่มข้อมูลการขายสินค้า
			#saleAdd.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /sale/saleAdd
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
				.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')     
		
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#saleUpdate', aria-expanded='false')
						strong Sale Add
						&#58; แก้ไขข้อมูลการขายสินค้า
			#saleUpdate.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /sale/saleUpdate
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
				.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')     