extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#getHtml', aria-expanded='false')
						strong Get HTML from Website  
						&#58; อ่านข้อความจากเว็บไซต์เป็น Code HTML
			#getHtml.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/get/html
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') URL
									.col-sm-10
										input.form-control.url(type='text', placeholder='URL')
										p.help-block
											span.font-pre.label.label-warning url
											|   เว็บไซต์
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#geoip', aria-expanded='false')
						i.fa.fa-check-circle.text-green  
						strong  GeoIP API from MaxMind    
						&#58;  ตรวจสอบ IP Address
			#geoip.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/geoip
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') IP Address
									.col-sm-10
										input.form-control.ip(type='text', placeholder='IP Address')
										p.help-block
											span.font-pre.label.label-warning ip
											|   IP Address
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#simple', aria-expanded='false')
						strong Simple Log 
						&#58; เก็บ Log
			#simple.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/simplelog
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group									
									label.col-sm-2.control-label(for='input') Log Name
									.col-sm-10
										input.form-control.name(type='text', placeholder='Log Name')
										p.help-block
											span.font-pre.label.label-warning name
											|   Log Name
									label.col-sm-2.control-label(for='input') Value
									.col-sm-10
										input.form-control.value(type='text', placeholder='Value')
										p.help-block
											span.font-pre.label.label-warning value
											|   Value
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')